---
vrf definition AZCP21
 rd {{ local_bgp_asn }}:677
 address-family ipv4
 exit-address-family

vrf definition AZCQ21
 rd {{ local_bgp_asn }}:676
 address-family ipv4
 exit-address-family

vrf definition AZCD21
 rd {{ local_bgp_asn }}:675
 address-family ipv4
 exit-address-family

interface Loopback0
 ip address {{ colo_loopback0 }} 255.255.255.255

{% for loop_name, loop_intf in loopback_interfaces.items() %}
interface {{ loop_name }}
  description {{ loop_intf.description }}
  vrf forwarding {{ loop_intf.loop_vrf }}
  ip address {{ loop_intf.loop_ipv4 }} 255.255.255.255
!
{% endfor %}
!
{# port-channel config for LACP to Azure #}
interface port-channel1
description port-channel to Azure
 no shut
!
{% for intf in layer_interfaces %}
interface {{ intf }}
  {{ layer_interfaces[intf].description }}
  {{ layer_interfaces[intf].status }}
{% if layer_interfaces[intf].lacp == "present" %} channel-group 1
{% endif %}
!
{% endfor %}
!
{% for sub_int_name, sub_int_data in sub_interfaces.items() %}
 interface {{ sub_int_name }}
    description {{ sub_int_data.description }}
    encapsulation dot1q {{ sub_int_data.dot1q }}
    vrf forwarding {{ sub_int_data.vrf }}
    ip address {{ sub_int_data.ipv4_add }} 255.255.255.252
  !
{% endfor %}
{# This section prints out BGP config #}
router bgp {{ local_bgp_asn }}
bgp router-id {{ colo_loopback0 }}
no bgp default ipv4-unicast
address-family ipv4 vrf AZCP21
{% for loop_name, loop_intf in loopback_interfaces.items() %}
{% if loop_intf.loop_vrf == "AZCP21" %}
  network {{ loop_intf.loop_ipv4 }} mask 255.255.255.255
{% endif %}
{% endfor %}
{% for bgp_name, bgp_data in router_bgp.items() %}
{% if bgp_data.vrf == "AZCP21" %}
  neighbor {{ bgp_data.remote_bgp_ipv4_address }} remote-as {{ bgp_data.remote_bgp_asn }}
  neighbor {{ bgp_data.remote_bgp_ipv4_address }} activate
{% endif %}
{% endfor %}
!
address-family ipv4 vrf AZCQ21
{% for loop_name, loop_intf in loopback_interfaces.items() %}
{% if loop_intf.loop_vrf == "AZCQ21" %}
  network {{ loop_intf.loop_ipv4 }} mask 255.255.255.255
{% endif %}
{% endfor %}
{% for bgp_name, bgp_data in router_bgp.items() %}
{% if bgp_data.vrf == "AZCQ21" %}
  neighbor {{ bgp_data.remote_bgp_ipv4_address }} remote-as {{ bgp_data.remote_bgp_asn }}
  neighbor {{ bgp_data.remote_bgp_ipv4_address }} activate
{% endif %}
{% endfor %}
!
address-family ipv4 vrf AZCD21
{% for loop_name, loop_intf in loopback_interfaces.items() %}
{% if loop_intf.loop_vrf == "AZCD21" %}
  network {{ loop_intf.loop_ipv4 }} mask 255.255.255.255
{% endif %}
{% endfor %}
{% for bgp_name, bgp_data in router_bgp.items() %}
{% if bgp_data.vrf == "AZCD21" %}
  neighbor {{ bgp_data.remote_bgp_ipv4_address }} remote-as {{ bgp_data.remote_bgp_asn }}
  neighbor {{ bgp_data.remote_bgp_ipv4_address }} activate
{% endif %}
{% endfor %}
!