hostname {{ hostname }}

interface loopback0
description loopback for default vrf and bgp router-id 
ip address {{ loopback0 }} 255.255.255.255

{# create vrf definition for each vrf #}
{% for vrf_name, vrf_value in vrf_definition.items() %}
vrf definition {{ vrf_value.vrf_name }}
rd {{ local_bgp_asn}}:{{ vrf_value.vrf_dot1q }}
!
address-family ipv4 
!
{% endfor %}
!
{# port-channel config for LACP between vp01/02 #}
interface port-channel1
description port-channel between vp01-vp02
 no shut
!
{# create l3 interfaces #}
{% for l3_int_name, l3_int_value in l3_interfaces.items() %}
interface {{ l3_int_name }}
{% if l3_int_value.lacp == "present" %} channel-group 1
{% endif %}
no shut
description {{ l3_int_value.description }}
!
{% endfor %}

{% for loop_int_name, loop_value in loopback_interfaces.items() %}
interface {{ loop_int_name }}
description {{ loop_value.loop_description }}
vrf forwarding {{ loop_value.loop_vrf }}
ip address {{ loop_value.loop_ipv4 }} 255.255.255.255
!
{% endfor %}
{% for l3_int_name, l3_int_value in layer3_sub_int.items() %}
interface {{ l3_int_name }}
description {{ l3_int_value.description }}
encapsulation dot1q {{ l3_int_value.dot1q }}
vrf forwarding {{ l3_int_value.vrf }}
ip address {{ l3_int_value.ipv4_add }} 255.255.255.252
!
{% endfor %}

!
crypto ikev2 proposal PH1_PROP_AES_GCM256
 encryption aes-gcm-256
 prf sha512
 group 21
!
{% for ike_vrf in ikev2_policy %}
crypto ikev2 policy PH1_PLCY_GCM256-{{ ikev2_policy[ike_vrf] }}
 match fvrf {{ ikev2_policy[ike_vrf] }}
 proposal PH1_PROP_AES_GCM256
 {% endfor %}
!
crypto ikev2 keyring PH2_KEYR_DC
{% for vti_int, vti_tunnel in vti_tunnel_interfaces.items() %}
 peer peer_{{ vti_tunnel.dest }}
  address {{ vti_tunnel.dest }}
  pre-shared-key local AZURECLOUD2ONPREM
  pre-shared-key remote AZURECLOUD2ONPREM
!
 {% endfor %}
!
{% for vti_int, vti_tunnel in vti_tunnel_interfaces.items() %}
crypto ikev2 profile PH2_IKEV2_PROF_GCM256-{{ vti_int }}
 match fvrf {{ vti_tunnel.fvrf }}
 match identity remote address {{ vti_tunnel.dest }} 255.255.255.252
 identity local address {{ vti_tunnel.src }}
 authentication remote pre-share 
 authentication local pre-share
 keyring local PH2_KEYR_DC
 dpd 10 2 on-demand
!
{% endfor %}
!
crypto ipsec transform-set PH2_TRAN_GCM256 esp-gcm 256
 mode tunnel
!
{% for vti_int, vti_tunnel in vti_tunnel_interfaces.items() %}
crypto ipsec profile PH2_IPSEC_GCM256-{{ vti_int }}
 set security-association replay window-size 512
 set transform-set PH2_TRAN_GCM256
 set pfs group21
 set ikev2-profile PH2_IKEV2_PROF_GCM256-{{ vti_int }}
!
{% endfor %}


{% for t_name, t_value in vti_tunnel_interfaces.items() %}
interface {{ t_name }}
vrf forwarding {{ t_value.vrf }}
ip address {{ t_value.ipv4 }} 255.255.255.252
tunnel source {{ t_value.src }}
tunnel destination {{ t_value.dest }}
tunnel mode ipsec ipv4
tunnel vrf {{ t_value.fvrf }}
tunnel protection ipsec profile PH2_IPSEC_GCM256-{{ t_name }}
!
{% endfor %}
!
{# router bgp definition #}
router bgp {{ local_bgp_asn }}
no bgp default ipv4-unicast
bgp router-id {{ loopback0 }}
!
address-family ipv4 vrf AZCP21
{% for l_name, l_value in loopback_interfaces.items() %}
{% if l_value.loop_vrf == "AZCP21" %}
network {{ l_value.loop_ipv4 }} mask 255.255.255.255
{% endif %}
{% endfor %}
{% for bgp_peer, bgp_data in bgp_neighbors.items() %}
{% if bgp_data.bgp_vrf == "AZCP21" %}
neighbor {{ bgp_data.remote_ipv4 }} remote-as {{ bgp_data.remote_asn }}
neighbor {{ bgp_data.remote_ipv4 }} activate
{% if bgp_data.bgp_type == "ibgp" %}
neighbor {{ bgp_data.remote_ipv4 }} next-hop-self
{% endif %}
{% endif %}
{% endfor %}
exit-address-family
!
address-family ipv4 vrf AZCQ21
{% for l_name, l_value in loopback_interfaces.items() %}
{% if l_value.loop_vrf == "AZCQ21" %}
network {{ l_value.loop_ipv4 }} mask 255.255.255.255
{% endif %}
{% endfor %}
{% for bgp_peer, bgp_data in bgp_neighbors.items() %}
{% if bgp_data.bgp_vrf == "AZCQ21" %}
neighbor {{ bgp_data.remote_ipv4 }} remote-as {{ bgp_data.remote_asn }}
neighbor {{ bgp_data.remote_ipv4 }} activate
{% if bgp_data.bgp_type == "ibgp" %}
neighbor {{ bgp_data.remote_ipv4 }} next-hop-self
{% endif %}
{% endif %}
{% endfor %}
exit-address-family
!
address-family ipv4 vrf AZCD21
{% for l_name, l_value in loopback_interfaces.items() %}
{% if l_value.loop_vrf == "AZCD21" %}
network {{ l_value.loop_ipv4 }} mask 255.255.255.255
{% endif %}
{% endfor %}
{% for bgp_peer, bgp_data in bgp_neighbors.items() %}
{% if bgp_data.bgp_vrf == "AZCD21" %}
neighbor {{ bgp_data.remote_ipv4 }} remote-as {{ bgp_data.remote_asn }}
neighbor {{ bgp_data.remote_ipv4 }} activate
{% if bgp_data.bgp_type == "ibgp" %}
neighbor {{ bgp_data.remote_ipv4 }} next-hop-self
{% endif %}
{% endif %}
{% endfor %}
exit-address-family
!